<ion-header>
  <ion-toolbar>
    <ion-title>Update Product</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" [formGroup]="updateForm"  (ngSubmit)="updateProduct(f.value)">
    <ion-item>
      <ion-input  formControlName="name" type="text" ngModel placeholder="Product Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="reference" type="text" ngModel placeholder="Reference"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Quantité : </ion-label>
      <ion-input formControlName="qte" type="number" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="description" type="text" ngModel placeholder="Product description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="pu" type="number" ngModel placeholder="Product Price"></ion-input>
    </ion-item>
      <ion-button expand="full" type="submit"> Update Product</ion-button>
  </form>
</ion-content>
